<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.multi.diet.ICalendarDAO">

	<resultMap id="calendarResult" type="com.multi.diet.CalendarVO">
		<result property="id" column="id" />
		<result property="FCode" column="FCode" />
		<result property="eYear" column="eYear" />
		<result property="eMonth" column="eMonth" />
		<result property="eDate" column="eDate" />
		<result property="eAmt" column="eAmt" />
		<result property="eTime" column="eTime" />
		<association property="foodVO" javaType="com.multi.diet.FoodVO">
			<result property="fCode" column="fCode" />
			<result property="fName" column="fName" />
			<result property="servings" column="servings" />
			<result property="kcal" column="kcal" />
		</association> 
		
	</resultMap> 
	
	<!-- 첫 번째 서브메뉴에서 테이블 조회 -->
 	<select id="byDateDietList" resultMap="calendarResult">	  	  	
		SELECT *
		  FROM calendar C
		    INNER JOIN food F
		      ON C.FCode = F.FCode
    	  WHERE id=#{condId} 
		  	AND eYear=#{condYear} 
		  	AND eMonth=#{condMonth} 
		  	AND eDate=#{condDate}
	</select>
	
	<!-- 두 번째 서브메뉴에서 테이블 조회 -->
 	<select id="byTimeDietList" resultMap="calendarResult">	  	  	
		SELECT *
		  FROM calendar C
		    INNER JOIN food F
		      ON C.FCode = F.FCode
    	  WHERE id=#{condId} 
		  	AND eYear=#{condYear} 
		  	AND eMonth=#{condMonth} 
		  	AND eDate=#{condDate}
		  	AND eTime=#{condTime}
	</select>
	
 <!-- 	두 번째 서브메뉴에서 데이터 입력 
	<insert id="insertCalendar" parameterType="com.multi.diet.CalendarVO">
		INSERT INTO calendar (id, )
		VALUES ()
	</insert>
 -->

</mapper>
 