@font-face {
    font-family: 'BinggraeMelona-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BinggraeMelona-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twayfly';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayfly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.menuwrap {
    position: fixed;
    top: 0;
    left: -400px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
    z-index: 400;
    overflow: auto;
    width: 400px; /* 너비 */
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    background-color: #F4F1FD;
}

.textSearchMenuwrap {
    position: fixed;
    top: 0;
    left: -400px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
    z-index: 390;
    overflow: auto;
    width: 400px; /* 너비 */
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    background-color: #F4F1FD;
}

.OCRSearchMenuwrap {
    position: fixed;
    top: 0;
    left: -400px; /* 너비 300px 인 사이드바를 왼쪽으로 300px 이동시켜 화면에 보이지 않게 함 */
    z-index: 390;
    overflow: auto;
    width: 400px; /* 너비 */
    height: 100%;
    padding: 20px 20px;
    box-sizing: border-box;
    transition: left .3s ease-in-out; /* 0.3초 동안 이동 애니메이션 */
    background-color: #F4F1FD;
}


.menuwrap.on {
    left: 0;
}

.textSearchMenuwrap.on {
    left: 400px;
}

.OCRSearchMenuwrap.on {
    left: 400px;
}
#dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

/* #menu input{
	margin: 0 auto;	
	width: 250px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 5mm;
	padding-top: 1mm;
	padding-bottom: 3mm;
	cursor: pointer;
}

#menu h4 {
	text-align: left;
	margin-left: 10px;
	font-size: 18px;
}

#menu table {
	margin-left: 40px;
}
 */
 
 
 
/* 아래부터는 그냥 테스트 나중에 수정해야 됨 */ 
/* 아래부터는 그냥 테스트 나중에 수정해야 됨 */ 
/* 아래부터는 그냥 테스트 나중에 수정해야 됨 */ 
/* 아래부터는 그냥 테스트 나중에 수정해야 됨 */ 
/* 아래부터는 그냥 테스트 나중에 수정해야 됨 */ 


 
#dietSearch {
	position: absolute;
	top: 850px !important;
	display: block;
	margin:0 auto;
}

#dietSearch input {
	font-family: 'twayfly';
	width: 300px !important;
	margin-left: 30px !important;
	font-size: 15px !important;
	padding-left: 35px !important;
}

input#textSearch {
	margin: 10px;
}

/* input {
	margin-left: 100px !important;
	width: 50% !important;
} */

input#submit {
    font-family: 'twayfly' !important;
    font-size: 15px;
	height: 50px;
	width: 300px;
}

input#insertDietOCR {
    font-family: 'twayfly' !important;
    font-size: 15px;
	height: 50px;
	width: 300px;
}

input#totalAmount {
	width: 150px;
	margin: 0 auto;
}
input#unitAmount {
	width: 150px;
	margin: 0 auto;
	
}
input#unitCalories {
	width: 150px;
	margin: 0 auto;
}
input#prodName {
	width: 150px;
	margin: 0 auto;
}
input#intake {
	width: 150px;
	margin: 0 auto;
}
/* input[type="submit"] {
	font-family: 'twayfly' !important;
	
} */
div#rnxh{
	display: inline !important;	
	text-align: left;
}
form {
    margin: 0;
}
#OCRSearchMenu {
	text-align: center !important;
}

#OCRSearchMenu h3 {
	font-family: 'twayfly' !important;
}

#textSearchMenu {
	text-align: center !important;
}

#textSearchMenu h3 {
	font-family: 'twayfly' !important;
}